.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
header{
    margin-top: 50px;
}
header p, header div{
    display: inline-block;
    display: flex;
    justify-content: space-between;
}
div#logo img{
    height: 33px;
    margin-right: 50px;
}
header p{
    margin-top: 0px;
    margin-right: 45px;
    color: #96959D;
    font-weight: bold;
}
.m1{
    margin-top: 6px;
}
#l{
    margin-right: 0px;
    margin-top: 6px;
}
#login{
    display: flex;
}
button:hover{
    background-color: #59D6CD ;
}
button{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-left: 45px;
    margin-bottom: 10px;
    width: 150px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    border-width: 0px;
    padding: .25rem 1rem ;
    background-color:#0AC5D4 ;
}
div.margem{
    margin: 0px 100px 0px 100px;
}
#sec1{
    background: url("../images/illustration-working.svg") no-repeat;
    display: flex;
    background-size: 550px;
    background-position: 120% 50%;
    padding-bottom: 100px;
    margin-bottom: 50px;
}

h1{
    margin-bottom: 0px;
    margin-top: 100px;
    margin-right: 500px;
    font-size: 60px;
}
p{
    width: 35%;
    margin-top: 0px;
    color: #615E66;
    font-weight: bold;
}
#sec1 button{
margin-left: 0px;
}
#sec2{
    background: #F0F1F6;
    text-align: center;
    padding-bottom: 200px;
}
h2{
    padding-top: 150px;
}
#pesquisa{
    position: absolute;
    top: 550pX;
    background: url("../images/bg-shorten-desktop.svg") no-repeat;
    background-size: 100%;
    background-color: #3A3053;
    width: 85%;
    height: 118px;
    display: flex;
    border-radius: 10px;
}
input,#sec2 button{
    border-radius: 5px;
    margin: 40px 0px 40px 0px;
    border: 0px;
}
input{
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 600px
}
#sec2 button{
    mar
    margin-right: 40px;
}
.conteiner{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
#sec2 p{
    width: 50%;
    margin:auto;
}
.inter{
    background-color: #383153;
    border-radius: 100%;
    width: fit-content;
    padding: 10px;
    position: relative;
    top: -30px;
    margin-left: 10px;    
}
.infor{
    background: white;
    display: block;
    margin-right: 30px;
    text-align: center;
    border-radius: 5px;
    position: relative;
}
.infor p{
    font-size: 14px;
}
#i2{
    top: 50px;
}
#i3{
    top: 100px;
}
#sec3{
    background: url(../images/bg-boost-desktop.svg) no-repeat;
    background-color: #3A3053;
    background-size: cover;
}
#sec3 h2{

    padding: 0px;
    margin-bottom: 250px;
    margin-top: 0px;
}
