.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: 'Poppins', sans-serif;
}
header{
    margin-top: 50px;
}
header p, header div{
    display: inline-block;
    display: flex;
    justify-content: space-between;
}
div#logo img{
    height: 33px;
    margin-right: 50px;
}
header p{
    margin-top: 0px;
    margin-right: 45px;
    color: #96959D;
    font-weight: bold;
}
#l{
    margin-right: 0px;
}
#login{
    align-items: flex-end;
}
button{
    font-family: 'Poppins', sans-serif;
    margin-left: 45px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    /* border-radius: 68px 68px 68px 68px; */
    border-radius: 40%;
    padding: .25rem 1rem ;
}
div.margem{
    margin: 0px 100px 0px 100px;
}
#sec1{
    background: url("../images/illustration-working.svg") no-repeat;
}